/*VARIABLES*/
/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0; }

header {
  background-image: url(../img/sprinklesBg.jpg);
  color: white;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0; }
  header img:hover {
    cursor: pointer; }
  header #quantity {
    width: 45px; }

nav {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  nav .nav-item {
    padding: 30px; }
  nav ul {
    list-style: none;
    font-size: 0; }
    nav ul li {
      list-style: none;
      display: inline-block;
      text-decoration: none;
      color: white;
      font-size: 16px;
      margin: 0 10px; }
      nav ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s; }
      nav ul li:hover ul {
        display: block; }
    nav ul ul {
      position: absolute;
      display: none;
      padding: 20px;
      line-height: 30px;
      background-color: #c7cedb;
      opacity: 0.8; }
      nav ul ul li {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #c7cedb; }

a:hover {
  color: #E8C57E;
  background-size: 100% 2px; }

a:focus {
  background-size: 100% 2px; }

.btn-delete {
  width: 45px;
  height: 45px;
  cursor: pointer; }

.backHome {
  background-color: #f7ebd4;
  color: #222;
  width: 150px;
  height: 45px;
  font-size: 14px;
  border-radius: 45px;
  margin: 10px;
  font-family: "Poppins", sans-serif; }

main {
  background: #fbf5e9;
  color: #222;
  display: flex; }
  main #filter {
    display: grid;
    row-gap: 10px;
    align-items: flex-start;
    position: fixed;
    z-index: 999999; }
    main #filter .btnFilter, main #filter #back {
      background-color: #f7ebd4;
      color: #222;
      width: 150px;
      height: 45px;
      font-size: 14px;
      border-radius: 45px;
      margin: 10px;
      font-family: "Poppins", sans-serif; }
  main #productsUI {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    main #productsUI .card {
      align-items: center;
      max-width: 350px;
      margin: 30px;
      font-family: "Poppins", sans-serif;
      text-align: center;
      background-color: transparent;
      border: none; }
      main #productsUI .card .imgCards {
        border-radius: 50%;
        width: 150px; }
      main #productsUI .card .btnBuy {
        background-color: #e8c47d;
        border-radius: 45px;
        color: white;
        width: 120px;
        height: 50px;
        text-align: center;
        font-size: 16px;
        padding: 10px 20px;
        border: none; }
      main #productsUI .card .cardTitle {
        font-size: 18px;
        padding: 10px; }
      main #productsUI .card .cardSubtitle {
        font-size: 16px; }
