/*VARIABLES*/
/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0; }

header {
  background-image: url(../img/sprinklesBg.jpg);
  color: white;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0; }
  header img:hover {
    cursor: pointer; }
  header #quantity {
    width: 45px; }

nav {
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: row;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  nav .nav-item {
    padding: 30px; }
  nav img:hover {
    text-shadow: 2px 2px 9px #fff; }

nav ul li {
  list-style: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px; }

nav ul li a {
  text-decoration: none;
  color: white; }

nav ul li a:hover {
  text-decoration: none;
  text-shadow: 2px 2px 9px #fff;
  color: white; }

.btn-delete {
  width: 45px;
  height: 45px;
  cursor: pointer; }

.backHome {
  background-color: #f7ebd4;
  color: #222;
  width: 150px;
  height: 45px;
  font-size: 14px;
  border-style: none;
  border-radius: 45px;
  margin: 10px;
  font-family: "Poppins", sans-serif; }

.backHome:hover {
  background-color: #f7ebd4;
  color: #222;
  width: 150px;
  height: 45px;
  font-size: 14px;
  border: 3px solid #e8c47d;
  border-radius: 45px;
  margin: 10px;
  font-family: "Poppins", sans-serif; }

.title {
  font-size: 18px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  text-decoration: underline #e8c47d 5px; }

#mainBasket {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 50px; }

#basket .divBasket {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif; }
  #basket .divBasket .basketImg {
    width: 150px;
    border-radius: 50%; }
  #basket .divBasket .buttonsBasket {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between; }

.line {
  width: 100%;
  height: 05px;
  border-radius: 05px;
  background-color: #e8c47d;
  padding: 10px; }

#subtotal {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  align-items: center;
  padding: 20px 20px; }
  #subtotal div {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between; }

.purchase {
  background-color: #e8c47d;
  color: #222;
  width: 150px;
  height: 45px;
  font-size: 14px;
  border-style: none;
  border-radius: 45px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  align-self: flex-start; }

.purchase:hover {
  background-color: #f7ebd4;
  color: #222;
  width: 150px;
  height: 45px;
  font-size: 14px;
  border: 3px solid #e8c47d;
  border-radius: 45px;
  font-family: "Poppins", sans-serif; }

.modalContent {
  font-family: "Poppins", sans-serif; }

main {
  background: #fbf5e9;
  color: #222;
  display: flex; }
  main .purchase {
    background-color: #e8c47d;
    color: #222;
    width: 150px;
    height: 45px;
    font-size: 14px;
    border-style: none;
    border-radius: 45px;
    margin: 10px;
    font-family: "Poppins", sans-serif;
    align-self: flex-start; }
  main .purchase:hover {
    background-color: #f7ebd4;
    color: #222;
    width: 150px;
    height: 45px;
    font-size: 14px;
    border: 3px solid #e8c47d;
    border-radius: 45px;
    font-family: "Poppins", sans-serif; }
  main #filterBtn {
    border-style: none;
    padding: 10px;
    background-color: #fbf5e9; }
  main #filter {
    display: none;
    row-gap: 10px;
    align-items: flex-start; }
    main #filter .btnFilter, main #filter #back {
      background-color: #e8c47d;
      color: #222;
      width: 150px;
      height: 45px;
      font-size: 14px;
      border-style: none;
      border-radius: 45px;
      margin: 10px;
      font-family: "Poppins", sans-serif; }
    main #filter .btnFilter:hover, main #filter #back:hover {
      background-color: #f7ebd4;
      color: #222;
      width: 150px;
      height: 45px;
      font-size: 14px;
      border: 3px solid #e8c47d;
      border-radius: 45px;
      font-family: "Poppins", sans-serif; }
  main #productsUI {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    main #productsUI .card {
      align-items: center;
      max-width: 350px;
      margin: 30px;
      font-family: "Poppins", sans-serif;
      text-align: center;
      background-color: transparent;
      border: none; }
      main #productsUI .card .imgCards {
        border-radius: 50%;
        width: 150px; }
      main #productsUI .card .btnBuy {
        background-color: #e8c47d;
        border-radius: 45px;
        color: white;
        width: 150px;
        height: 50px;
        text-align: center;
        font-size: 16px;
        border-style: none;
        padding: 10px 20px;
        border: none; }
      main #productsUI .card .btnBuy:hover {
        background-color: #f7ebd4;
        border-radius: 45px;
        color: #222;
        width: 150px;
        height: 50px;
        text-align: center;
        font-size: 16px;
        border: 3px solid #e8c47d;
        padding: 10px 20px; }
      main #productsUI .card .cardTitle {
        font-size: 18px;
        padding: 10px; }
      main #productsUI .card .cardSubtitle {
        font-size: 16px; }
