.btn-delete{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.backHome {
    background-color:hsl(40, 70%, 90%);
    color: #222;
    width: 150px;
    height: 45px;
    font-size: 14px;
    border-radius: 45px;
    margin: 10px;
    font-family: $fontFamily;
}