/*VARIABLES*/
$fontFamily: 'Poppins',
sans-serif;
$bgFooter: rgb(199, 206, 219);
$pixels: 100px;
$colortitle: rgb(55, 86, 163);

// hsl primario hsl(40, 70%, 60%)
// hsl secundario hsl(40, 70%, 90%) color: #222;
//  button ghost background-color:transparent; border: 3px solid hsl (40, 70%, 90%)

/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}


@import"_header";
@import"_basket";


    main {
        background: hsl(40, 70%, 95%);
        color: #222;
        display: flex;
        // align-items: center;
        #filter {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: flex-start; 
            .btnFilter, #back{
                background-color:hsl(40, 70%, 90%);
                color: #222;
                width: 150px;
                height: 45px;
                font-size: 14px;
                border-radius: 45px;
                margin: 10px;
                font-family: $fontFamily;
            }
            
        }
        #productsUI {
            justify-content: center;
            align-content: center;
            .card {
                display: inline-block;
                align-items:center;
                max-width: 350px;
                margin: 30px;
                font-family: "Poppins", sans-serif;
                text-align: center;
                background-color: transparent;
                border: none;
                .imgCards {
                    border-radius: 50%;
                    width: 150px;
                }
                .btnBuy {
                    background-color: hsl(40, 70%, 70%);
                    border-radius: 45px;
                    color: white;
                    width: 120px;
                    height: 50px;
                    text-align: center;
                    font-size: 16px;
                    padding: 10px 20px;
                    border: none;
                }
                .cardTitle{
                    font-size: 18px;
                    padding: 10px;
                }
                .cardSubtitle{
                    font-size: 16px;
                }
        }
    }
    }